<section class="header_text sub">
    <h4><span>Benutzerdaten ändern</span></h4>
</section>
<section class="main-content">
    <f:render partial="Account/Register/UserError" />
    <f:form action="update" controller="Account" name="user" object="{user}">
    <div class="row">
        <div class="span12">
            <f:render partial="Account/Register/User" arguments="{user: user, objectName: 'user', dontEditPassword: 1}" />
        </div>
    </div>
    <div class="row">
        <div class="span12">
                <f:render partial="Account/Register/BillingAddress" arguments="{user: user, objectName: 'user'}" />
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <f:render partial="Account/Register/ShippingAddress" arguments="{user: user, objectName: 'user'}" />
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <f:render partial="Account/Register/Payment" arguments="{user: user, objectName: 'user', payments: payments}" />
        </div>
        <div class="span6">
            <f:render partial="Account/Register/Shipping" arguments="{user: user, objectName: 'user', shippings: shippings}" />
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p><span class="required">*</span> Pflichtfelder</p>
            <p class="buttons right">
                <f:link.action action="account" controller="Account" pluginName="tinyshop" pageUid="{settings.shopRootId}" arguments="{user: user}" class="btn btn-inverse pull-left">Abbrechen</f:link.action>
                <f:form.submit value="Speichern" class="btn btn-inverse large" />
            </p>
        </div>
    </div>
    </f:form>
    <script type="text/javascript">
    $(document).ready(function() {
        if($('.tx-tinyshop .differShipping .differShippingAddress').size() > 0) {
            if($('.tx-tinyshop .differShipping .differShippingAddress').prop('checked')) {
                $('.tx-tinyshop .shippingAddress').slideDown(200);
            }
            
            $('.tx-tinyshop .differShipping .differShippingAddress').change(function(){
                if($('.tx-tinyshop .differShipping .differShippingAddress').prop('checked')) {
                    $('.tx-tinyshop .shippingAddress').slideDown(200);
                }
                else {
                    $('.tx-tinyshop .shippingAddress').slideUp(200);
                }
            });
        }
    });
    </script>
</section>