<h4 class="title"><span class="text"><strong>Versand</strong>Art</span></h4>
<fieldset>
<f:for each="{shippings}" as="shipping">
    <label class="radio">
        <f:if condition="{user.shipping.uid} == {shipping.uid}">
            <f:then>
                <f:form.radio property="shipping" value="{shipping.uid}" checked="1" />
            </f:then>
            <f:else>
                <f:form.radio property="shipping" value="{shipping.uid}" />
            </f:else>
        </f:if>
        {shipping.title}
        <f:if condition="{shipping.description}">
            <br />
            {shipping.description}
        </f:if>
    </label>
</f:for>
<f:render partial="Account/Register/PropertyError" arguments="{objectName: objectName, property: 'shipping'}" />
</fieldset>