<h4 class="title"><span class="text"><strong>Rechnungs</strong> Adresse</span></h4>
<div class="panel panel-default">
    <div class="panel-heading">Rechnungsdresse:</div>
    <div class="panel-body">
        {user.billingaddress.company}<br />
        {user.billingaddress.firstname} {user.billingaddress.lastname}<br />
        {user.billingaddress.street} {user.billingaddress.streetNumber}<br />
        {user.billingaddress.postcode} {user.billingaddress.city}<br />
        {user.billingaddress.country}<br />
    </div>
</div>