<f:form action="forgotPassword" controller="Account" method="post">
<fieldset>
    <f:flashMessages renderMode="div" class="alert alert-error" />
    <div class="control-group">
        <label class="control-label">E-Mail-Adresse:<span class="required">*</span></label>
        <div class="controls">
            <f:form.textfield name="email" placeholder="E-Mail-Adresse" class="span4" />
        </div>
    </div>
    <div class="control-group">
        <input tabindex="3" class="btn btn-inverse large" type="submit" value="Passwort anfordern" name="submit" />
    </div>
</fieldset>
</f:form>