<ul class="nav nav-list">
    <li class="nav-header">Navigation</li>
    <li>
        <a href="#">Bestellungen</a>
    </li>
    <li>
        <f:link.action action="editUser" controller="Account" arguments="{user: user}">Benutzerdaten ändern</f:link.action>
    </li>
    <li>
        <a href="{f:uri.action(action:'login', controller:'Account', extensionName: 'rbtinyshop', pluginName: 'tinyshop', pageUid: settings.shopRootId, noCacheHash: 1)}&logintype=logout" method="post" onsubmit="{onSubmit}">Logout</a>
    </li>
</ul>