<h4 class="title"><span class="text"><strong>Liefer</strong> Adresse</span></h4>
<div class="panel panel-default">
    <div class="panel-heading">Lieferadresse:</div>
    <div class="panel-body">
        {user.shippingAddress.company}<br />
        {user.shippingAddress.firstname} {user.shippingAddress.lastname}<br />
        {user.shippingAddress.street} {user.shippingAddress.streetNumber}<br />
        {user.shippingAddress.postcode} {user.shippingAddress.city}<br />
        {user.shippingAddress.country}<br />
    </div>
</div>