<h4 class="title"><span class="text"><strong>Allgemeine</strong> Informationen</span></h4>
<div class="row">
    <div class="span4">
        <div class="panel panel-default">
            <div class="panel-heading">E-Mail-Adresse / Benutzername:</div>
            <div class="panel-body">
                {user.username}
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="panel panel-default">
            <div class="panel-heading">Passwort:</div>
            <div class="panel-body">
                ********
            </div>
        </div>
    </div>
</div>

