<f:layout name="Default" />

<f:section name="content">
    <div ng-app="myApp">
        <div class="page-header">
            <h1>Tinyshop <small>Backend</small></h1>
        </div>
        <div class="row">
            <!-- Nested node template -->
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div class="tree-node">
                        <div class="pull-left tree-handle" ui-tree-handle>
                            <span class="glyphicon glyphicon-list"></span>
                        </div>
                        <div class="tree-node-content">
                        {{node.title}}|{{node.id}}
                        <a class="pull-right btn btn-default btn-xs" data-nodrag ng-disabled="disableOnLoading" href="#/articlelist/{{node.id}}">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                        <!--
                        <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="remove(this)" style="margin-right: 8px;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        -->
                        <a ng-click="openCategoryInPopUp(node.editLink)" class="pull-right btn btn-primary btn-xs" ng-disabled="disableOnLoading" style="margin-right: 8px;">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="pull-right btn btn-primary btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)" style="margin-right: 8px;">
                            <span class="glyphicon" ng-class="{'glyphicon-menu-right': collapsed, 'glyphicon-menu-down': !collapsed}"></span>
                        </a>
                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </script>
            <div class="col-lg-4" ng-controller="categoryController">
                <div class="panel panel-default">
                <div class="panel-heading">
                    Kategorien
                    <a href="" class="btn btn-warning btn-xs pull-right" ng-click="collapseAll()" style="margin-top: 3px;margin-right: 10px;">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    <a href="" class="btn btn-warning btn-xs pull-right" ng-click="expandAll()" style="margin-top: 3px;margin-right: 8px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="panel-body">
                        <div ui-tree="treeOptions" id="tree-root" data-drag-enabled="!disableOnLoading">
                            <ol ui-tree-nodes="" ng-model="data">
                                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!--<div>
                    <pre>{{data}}</pre>
                </div>-->
            </div>
            <div class="col-lg-8">
                <div ng-view></div>
            </div>
        </div>
    </div>
</f:section>
